@page "/"

<h2>Welcome to the employee management system, what would you like to do today?</h2>


<div class="homepage-nav">
    <NavLink class="btn btn-primary" href="/add-employee">Add</NavLink>
    <NavLink class="btn btn-primary" href="/delete-employee">Delete</NavLink>
    <NavLink class="btn btn-primary" href="/edit-employee-list">Edit</NavLink>
</div>


